<header class="h-12 border-b border-border flex items-center justify-between px-4 lg:px-6 shrink-0 bg-white z-20">
    <div class="flex items-center gap-3">
        <button id="mobile-menu-btn" class="p-1.5 hover:bg-gray-100 rounded-lg lg:hidden">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
        </button>
        <a href="/blog" class="flex items-center gap-2">
            <div class="flex items-center gap-2 text-gray-900 font-bold tracking-tight">
                <img src="/blog/assets/logo.svg" alt="MedFocus" class="w-5 h-5">
                <span class="text-sm">MEDFOCUS</span>
            </div>
        </a>
    </div>
    
    <div class="flex-1 flex justify-end ml-2 sm:ml-4 items-center">
        <%- include('_search') %>
    </div>
</header>
